.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  color: white;
  font-family: 'Fascinate', cursive;
  a{
    margin: 10px;
  }
  .info {
    font-size: 14px;
    padding: 0.8rem;
    color: lightcoral;
  }
}
