.title {
  text-align: center;
  color: white;
}

.carousel {
  cursor: pointer;
  overflow: hidden;
  margin: 0 19%;

  .inner-carousel {
    display: flex;
  }

  .item {
    min-height: 20rem;
    min-width: 20rem;
    padding: 40px;

  }

  .item img {
    width: 100%;
    height: 80%;
    border-radius: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .carousel {
    width: 100%;
    margin: 0;
  }
}
