.product {
  color: white;

  border: 1px solid #1e1d1d;
  width: 50%;
  padding: 70px;
  margin-left: 350px;
  margin-top: 1px;
  img{
    width: 35%;
    height: 35vh;
    border-radius: 2rem;
  }
}

